<footer id="sticky-footer" class="template-bg d-flex justify-content-center">
	<small class="template-text m-3"><a class="template-text" href="https://byg.uy">www.byg.uy</a> &copy; 2025</small>
</footer>
