{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
{% if systemSession %}
    {# <p> ESTOY LOGEADO DEBO MOSTRAR MIS CLIENTES EN UNA LISTA</p> #}
{% endif %}
    {# <h3 class="text-template-background font-italic text-center">SISTEMA de DÉBITOS AUTOMÁTICOS</h3> #}
{% endblock %}